* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2.section-name {
    color: #374f5e;
    width: 100%;
    font-size: 3rem;
    padding: 3%;
    text-transform: uppercase;
    text-align: left;
}
/*Sekcja menu główne */

section.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.box {
    width: 33.3%;
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}





#top-left {
    background-color: #996859;
}

#middle-right {
    background-color: #996859;
}

#top-middle, #down-middle {
    background-color: #374f5e;
}

#top-right {
    background-image: url(images/papers2.jpg);
}

#middle {
    background-color:#e7e4e7;
}


#down-left {
    background-image: url(images/papers1.jpg);
}

#middle-left {
    background-color: #dbc17a;
}
#down-right {
    background-color: #dbc17a;
    position: relative;
}
#down-right-bonus {
        background-color:#e7e4e7;
        display: none;
}
i {
   font-size: 4rem;
   padding-bottom: 5%;
}

a {
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box:hover {
    opacity: 0.75;
    transition: linear, 0.7s;
}

#middle-left:hover .fa-pagelines {
transform: scaleY(150%);
transition: linear 1s;
}

#top-middle:hover .fa-laptop {
    animation: puls linear 10s;

    }

@keyframes puls {
    0% {transform: scale(100%);}
    10%{transform: scale(120%);}
    20% {transform: scale(100%);}
    30%{transform: scale(120%);}
    40%{transform: scale(100%);}
    50%{transform: scale(120%);}
    60%{transform: scale(100%);}
    70% {transform: scale(120%);}
    80%{transform: scale(100%);}
    90%{transform: scale(120%);}
    100% {transform: scale(100%);}

}
#down-middle:hover .fa-gitlab {
transform: rotate(20deg);
transition: linear 0.3s;
}

#top-left:hover .fa-feather-alt {
    animation: writing linear 3s infinite;
}

@keyframes writing {
    0% {transform: rotate(5deg);}
    10% {transform: rotate(-5deg);
    margin-left: 1%;}
    20% {transform: rotate(5deg);
        margin-left: 2%;}
    30% {transform: rotate(-5deg);
        margin-left: 3%;}
    40% {transform: rotate(5deg);
        margin-left: 4%;}
    50% {transform: rotate(-5deg);
        margin-left: 5%;}
    60% {transform: rotate(5deg);
        margin-left: 6%;}
    70% {transform: rotate(-5deg);
        margin-left: 7%;}
    80% {transform: rotate(5deg);
        margin-left: 8%;}
    90% {transform: rotate(-5deg);
        margin-left: 9%;}
    100% {transform: rotate(5deg);
        margin-left: 10%;}
}

#middle-right:hover .fa-heart {
    transform: rotate(360deg);
    transition: linear 1.5s;
}
#down-right:hover .fa-paper-plane {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
animation: airplane linear 4s infinite;
}

@keyframes airplane {
    0% {top: 50%;
        left: 50%;
    rotate: 0deg;}

    25% {
        top: 30%;
        left: 75%;
    }

    50% {
        top: 35%;
        left: 120%;
        rotate: 110deg;
    }

    65% {
        top: 120%;
        left: 50%;
    }

    75% {
        top: 120%;
        left: 0%;
        rotate: 350deg;
    }

    100% {top: 50%;
        left: 50%;
    rotate: 360deg;}
}

#down-right:hover h2.contact-hide {
    display: none;
    }



/*Sekcja o mnie */
.me {
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
    padding: 2%;
    color: white;
    letter-spacing: 1px;
    line-height: 1.6rem;
}

.me>h2 {
    width: 100%;
}

.me>div>h3 {
    font-size: 1.5rem;
    width: 50%;
}

.me>div>p {
    width: 50%;
    font-size: 1rem;
}

div#psycho {
    background-color: #996859;
}

div#dev {
    background-color: #dbc17a;
}

div#person {
    background-color: #374f5e;
}

/*Sekcja technologie*/

.tech-container {
    position: relative;
    height: 70vh;
    margin-top: 5%;
}
div.tech-container>i {
    color: #996859;
    font-size: 6rem;
    position: absolute;
    display: block;
    left: 100px;
    top: 0;
    transition: 0.3s;
}

div.tech-container>i:hover {
    color: #dbc17a;
}

div>i.fa-html5 {
    left: 50%;
    transform: translateX(-50%);
}

div>i.fa-css3-alt {
    left: 50%;
    top: 60%;
    transform: translateX(-50%);
}

div>i.fa-js {
    left: 75%;
    top: 40%;
    transform: translate(-50%, -50%);
}

div>i.fa-react {
    left: 25%;
    top: 40%;
    transform: translate(-50%, -50%);
}

div>i.fa-node {
    left: 35%;
    top: 20%;
    transform: translate(-50%, -50%);
}
div>i.fa-sass {
    left: 65%;
    top: 20%;
    transform: translate(-50%, -50%);
}

div>i.fa-angular {
    left: 65%;
    top: 60%;
    transform: translate(-50%, -50%);
}

div>i.fa-bootstrap {
    left: 35%;
    top: 60%;
    transform: translate(-50%, -50%);
}
/*Sekcja projekty*/
section.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
    font-size: 1.8rem;
    text-transform: uppercase;
    align-content: space-around;
    height: 50vh;
}

div.project {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    height: 40vh;
    justify-content: center;
}

#project-psycho, #project-wolf {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#project-psycho {
    background-image: url(images/project-psycho.png);
}

#project-psycho:hover {
    background-image: url(images/project-psycho-n.png);
}

#project-wolf {
background-image: url(images/project-wolf.png);
}

#project-wolf:hover {
    background-image: url(images/project-wolf-n.png);
    }

.project>h4 {
text-align: center;
padding-top: 5%;
width: 100%;
}


/* Sekcja kontakt */
  
  form>h3 {
      color: #996859;
      margin: 0;
        text-transform: uppercase;
        font-size: 35px;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
        text-align: center;
        padding: 40px;
  }
  
  input, textarea, select, form>button {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: #996859;
    font-size: 15px; 
  }
  
  a:hover {
    text-decoration: none;
   }
  
  :focus {
    outline: none; 
  }
  
  .wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url("images/papers.jpg") no-repeat;
    background-size: cover;
   }
  
  .form {
    max-width: 758px;
    margin: auto;
    background: #f4edd9;
    border: 10px solid white;
    padding: 77px 99px 87px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    opacity: 0.9;
  }
  
  textarea {
    resize: none; 
  }
  
  
  .form-group {
    position: relative;
    display: block;
    margin-bottom: 48px; }
    .form-group span {
      font-size: 15px;
      color: #996859;
      position: absolute;
      top: 11px;
      transition: all .2s ease;
      transform-origin: 0 0;
      cursor: text; }
    .form-group span.border {
      height: 2px;
      display: block;
      position: absolute;
      width: 100%;
      left: 0;
      top: 41px;
      transform: scaleX(0);
      transition: all .15s ease;
      background: #996859; 
    }
  
  .form-control {
    border: none;
    border-bottom: 2px solid #996859;
    display: block;
    width: 100%;
    height: 43px;
    font-size: 15px;
    background: none;
    font-family: "Montserrat-SemiBold"; }
    .form-control:focus, .form-control:valid {
      border-bottom: 2px solid #fff; }
      .form-control:focus + span, .form-control:valid + span {
        transform: translateY(-22px) scale(0.8); }
        .form-control:focus + span + .border, .form-control:valid + span + .border {
          transform: scaleX(1); 
        }
  
  textarea.form-control {
    padding-top: 10px;
    padding-bottom: 10px; 
  }
  
  form>button {

    width: 162px;
    height: 51px;
    border: 2px solid #996859;
    margin: auto;
    margin-top: 60px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: none;
    color: #996859;
    text-transform: uppercase;
    font-family: "Montserrat-SemiBold";
    transform: perspective(1px) translateZ(0);
    position: relative;
    transition-property: color;
    transition-duration: 0.3s; 
  }
  
    form>button i {
      margin-left: 10px;
      transform: translateZ(0);
      transition-duration: 0.1s;
      transition-property: transform;
      transition-timing-function: ease-out; 
    }
  
    form>button:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #996859;
      transform: scaleX(0);
      transform-origin: 0 50%;
      transition-property: transform;
      transition-duration: 0.3s;
      transition-timing-function: ease-out; 
    }
  
      form>button:hover {
      border-color: transparent; 
      color: #f4edd9;
    }
      form>button:hover:before {
        transform: scaleX(1); 
      }
  
      form>button:hover i {
        transform: translateX(4px); 
      }
  
      #container {
        min-height:100%;
        position:relative;
    }

    /*mobile*/

    @media (max-width: 1024px) {
        /*section menu*/
        section.menu {
            height: 200vh;
        }
        .box {
            width: 50%;
            height: 20%;
            color: white;
            font-size: 1rem;
        }
        i {
            font-size: 2.5rem;
            padding-bottom: 5%;
         }

         #down-right-bonus {
             display: initial;
         }

      }

      @media (max-width: 700px) {
        div.tech-container>i {
            font-size: 4rem;
        }
      }

      @media (max-width: 500px) {
          /*section menu*/
        section.menu {
            height: 400vh;
        }
        .box {
            width: 100%;
            height: 10%;
            color: white;
            font-size: 1.5rem;
        }
        i {
            font-size: 4rem;
         }

         /*section projects*/

         section.projects {
            height: 100vh;
        }

        div.project {
            width: 80%;
        }

      }

      